*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body {
    width: 100%;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template: 1fr 7fr / 1fr 5fr;
}

/*Sidebar section*/

#sidebar{
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 1fr 7fr;
    align-items: center;
    color: white;
    cursor:default;
    background: linear-gradient(black, 90%, silver, white);
}

#sidebar h1{
    padding-left: 5rem;
}

#sidebar ul{
    list-style-type: none;
    align-self: baseline;
    margin-top: 3rem;
    font-size: 1.5rem;
    display: grid;
    gap: 1rem;
}

#sidebar li{
    padding: 0.5rem;
    padding-left: 5rem;
    transition: 0.5s;
}

#sidebar li:hover{
    color: black;
    background-color: hsl(0, 0%, 100%);
    font-size: 1.75rem;
}

/*Header Section*/

header{
    padding: 1rem;
    display: grid;
    grid-template-columns: 10fr 1fr 2fr;
    align-items: center;
}

.notification{
    grid-column: span 1 / -2;
}

#notification-bell{
    width: 2rem;
}

.account-tab{
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.at-icon {
    width: 4rem;
    aspect-ratio: 1 / 1;
    border-radius: 2rem;
    border: 5px double black;
    background-image: url(Resources/icon);
    background-size: contain;
}

.at-name {
    font-size: 1.5rem;
}

#at-triangle{
    width: 1rem;
}

/*Main Section*/

main{
    background-color: silver;
    display: grid;
    grid-template: 1fr 2rem repeat(2, 2fr) 2rem repeat(2, 2fr) / repeat(3, 2fr) 1fr;
}

main div {
    border: 1px dotted black;
}


.add-container{
    grid-column: span 2 / -1;
    text-align: end;
}

