*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

/*Sidebar section*/

#sidebar{
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 1fr 5fr;
    align-items: center;
    color: white;
    background: linear-gradient(black, 90%, silver, white);
}

#sidebar h1{
    padding-left: 5rem;
}

#sidebar ul{
    list-style-type: none;
    align-self: baseline;
    margin-top: 3rem;
    font-size: 1.5rem;
    display: grid;
    gap: 1rem;
}

#sidebar li{
    padding: 0.5rem;
    padding-left: 5rem;
    transition: 0.5s;
}

#sidebar li:hover{
    color: black;
    background-color: hsl(0, 0%, 100%);
    cursor:default;
    font-size: 1.75rem;
}

main{
    background-color: yellowgreen;
}